body {
    font-family: Arial, sans-serif;
    background-color: #2C3E50; 
}

.corpo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    font-family: Arial, sans-serif;
    background-color: #2C3E50; 
}
.container {
    background-color: #1ABC9C; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem 1rem; 
    justify-content: center; 
}

.card {
    flex: 0 0 33.33%; 
    box-sizing: border-box;
    padding: 10px;
}

.card img {
    width: 20%; 
    height: 150px;
    object-fit: cover; 
    margin: 0 auto;
    display: block;
}

.card p {
    text-align: center;
    color: #ECF0F1; 
    margin-top: 10px; 
}

h1, h2 {
    text-align: center;
    color: #ECF0F1; 
}

@media screen and (max-width: 768px) { 
    .card {
        flex: 0 0 100%;
    }
}

.cab {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding: 3%;
    width: 100%;
}

.p {
    color: white;
}
